.Popup {
    width: 300px;
    padding: 24px 24px 32px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
}

.Popup-header {
    margin-bottom: 32px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 8px;
}

.brand-icon {
    display: block;
}

.brand-name {
    font-family: var(--title-font);
    color: var(--primary-main);
    font-size: 16px;
    font-weight: 700;
}

.top-header-btns.flex {
    gap: 12px;
}

.header-btn {
    display: flex;
    color: var(--primary-100);
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: transparent;
    transition: color 0.3s;
}

.header-btn.active,
.header-btn:hover {
    color: var(--primary-main);
}

.Popup-header .description {
    color: var(--primary-400);
    font-size: 14px;
}

.screen-option-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
}

.screen-option-tab {
    color: var(--primary-200);
    font-size: 14px;
    padding: 12px;
    transition: color 0.3s;
    cursor: pointer;
}

.screen-option-tab.active,
.screen-option-tab:hover {
    color: var(--primary-main);
}

.screen-option-tab-icon {
    margin-bottom: 8px;
}

.screen-option-tab-text {
    display: block;
    font-weight: 500;
}

.bottom-btn-group {
    display: grid;
    gap: 24px;
}

.choice-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    color: var(--primary-600);
    border: 1px solid var(--primary-main);
    border-radius: 12px;
    height: 50px;
}

.choice-btn-inner {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--primary-600);
    font-weight: 500;
}

.choice-btn-icon {
    color: #0F172A;
}

/* Toggler */
.toggle {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

.Popup .btn.btn-solid {
    width: 100%;
}

.toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary-200);
    transition: 0.3s;
    border-radius: 30px;
}

.toggle-span:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2.4px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.toggle-checkbox:checked+span {
    background-color: var(--primary-main);
}

.toggle-checkbox:checked+span:before {
    transform: translateX(16px);
}